$color-primary: #294C17;
$color-secondary: #996B0F;
$color-tertiary: #4C1717;
$body: #404040;

@function tint($color, $percent) {
    @return mix(white, $color, $percent);
}

@function shade($color, $percent) {
    @return mix(black, $color, $percent);
}