// When collapsed, fill viewport height and flush sides
.sidebar-collapse {
	align-self: stretch;
	margin: 0;
	z-index: 3;
}

.sidebar-toggler {
	position: absolute;
	margin: 1px;
	z-index: 4;

	&:not(.collapsed)::before {
		content: '\00d7';
	}

	&.collapsed::before {
		content: '\002b';
	}
}	

.site-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
}

.sidebar-expand {
	@each $breakpoint in map-keys($grid-breakpoints) {
		$next: breakpoint-next($breakpoint, $grid-breakpoints);
		$infix: breakpoint-infix($next, $grid-breakpoints);

		&#{$infix} {
			position: fixed;
			top: 0;
			right: 0;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			z-index: 2;

			@include media-breakpoint-up($next) {
				position: initial;
				height: auto;
				top: initial;
				right: initial;

				.sidebar-collapse {
					display: block !important;
				}
				.sidebar-toggler {
					display: none;
				}

				.site-overlay { display: none !important; }
			}
		}
	}
}